<!DOCTYPE html>
<html>
<head>
<title>Enju accessor</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/base.css" />
<link rel="stylesheet" href="http://textae.pubannotation.org/lib/css/textae.min.css" />
<script src="http://textae.pubannotation.org/lib/textae.min.js"></script>
</head>

<body>
<div id="header">
  <div id="title">
    <a href="<%= url('/') %>">Enju REST Accessor</a>
  </div>
</div>
<div id="main">
  <fieldset class="pane">
    <legend>Demo</legend>
    <form>
      <table style="width:100%">
        <tr>
          <td><input type="text" name="text" style="width:100%; box-sizing:border-box;" value="<%= params[:text] %>" placeholder="Input a sentence" required=true></td>
          <td><input type="submit" value="Go"></td>
        </tr>
        <tr>
          <td style="text-align:center">
            <table class="option">
              <tr>
                <th>Mode</th>
                <td>
                  <label for="mode_PAS" title="predicate argument structure">PAS</label><input type="radio" name="mode" value="PAS" id="mode_PAS" <%= "checked='true'" if params[:mode] == nil || params[:mode] == 'PAS' %> />
                  |
                  <label for="mode_POS" title="part-of-speech">POS</label><input type="radio" name="mode" value="POS" id="mode_POS" <%= "checked='true'" if params[:mode] == 'POS' %> />
                </td>
              </tr>
            </table>
            <table class="option">
              <tr>
                <th>Model</th>
                <td>
                  <label for="model_GENIA" title="A model trained on GENIA treebank">GENIA</label><input type="radio" name="model" value="GENIA" id="model_GENIA" <%= "checked='true'" if params[:mode] == nil || params[:model] == 'GENIA' %> />
                  |
                  <label for="model_GTREC" title="A model re-trained on TREC Genomics QA questions">GTREC</label><input type="radio" name="model" value="GTREC" id="model_GTREC" <%= "checked='true'" if params[:model] == 'GTREC' %> />
                </td>
              </tr>
            </table>
            <table class="option">
              <tr>
                <th>Parser</th>
                <td>
                  <label for="parser_Enju" title="Enju parser - more accurate, but slower">Enju</label><input type="radio" name="parser" value="Enju" id="parser_Enju" <%= "checked='true'" if params[:mode] == nil || params[:parser] == 'Enju' %> />
                  |
                  <label for="parser_Mogura" title="Mogura parser - less accurate, but faster">Mogura</label><input type="radio" name="parser" value="Mogura" id="parser_Mogura" <%= "checked='true'" if params[:parser] == 'Mogura' %> />
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </form>
    <% unless @annotations.nil? %>
      <section>
        <h1>Result</h1>
        <section>
          <h2><a href="http://textae.pubannotation.org">TextAE</a></h2>
          <div class="textae-editor">
          <%= @annotations.to_json %>
          </div>
        </section>
        <section>
          <h2>JSON</h2>
          <textarea style="width:100%; height: 4em">
<%= JSON.pretty_generate(@annotations) %>
          </textarea>
        </section>
      </section>
    <% end %>
  </fieldset>

<section>
  <h1>Description</h1>
  <p>
    It is a wrapper service to an Enju CGI server.
    <a href="http://kmcs.nii.ac.jp/enju">Enju</a> is a general purpose parser for English text [1].
    This service provides a conversion of Enju output to the <a href="http://www.pubannotation.org/docs/annotation-format/">PubAnnotation JSON format</a>.
  </p>
  <table>
  <tr class="references">
  <th>[1]</th>
  <td>Yusuke Miyao and Jun'ichi Tsujii. 2008. <em>Feature Forest Models for Probabilistic HPSG Parsing</em>. Computational Linguistics. 34(1). pp. 35--80, MIT Press.</td>
  </tr>
  </table>
</section>

<section>
  <h1>Usage</h1>

  <section>
    <h2>Input</h2>
    <p>Post a block of text as a value of the parameter <i>text</i> to the URL:</p>
<pre>
<%= thisurl = request.url.sub(/text=[^&]*&/, '') %>
</pre>

    <p>For example, using the command <a href="https://curl.haxx.se/">curl</a>:</p>

<pre>
curl -d text="Input text comes here." \
<%= thisurl %>
</pre>

  or

<pre>
curl -H "content-type:application/json" -d '{"text":"Input text comes here."}' \
<%= thisurl %>
</pre>

  or

<pre>
curl -H "content-type:text/plain" -d "Input text comes here." \
<%= thisurl %>
</pre>

  </section>

  <section>
    <h2>Output</h2>
    You will get the parsing results in the <a href="http://www.pubannotation.org/docs/format/">PubAnnotation JSON format</a>.
  </section>
</section>

</div>
</body>
</html>
